.AL-MY-00-007 {
  margin-top: 5.6rem;

  .certify_wrap {
    max-width: 640px;
    margin: 0 auto;

    .confirm-area {
      .content-inner {
        &.common {
        }

        .certified {
          margin-top: 5rem;
        }
      }
    }
  }

  .content-item {
    // padding: 2.4rem 0;
    &.bgnone-box {
      margin-top: 0;
      padding: 2.4rem 0;
      background: none;
    }
    .care-c-notice-box {
      margin-top: 0;

      .order-list {
        display: block;

        li {
          width: 100%;
        }
      }
    }
    & + .reverse {
      .shortcut-menu {
        margin-top: 0;

        li {
          &:first-child {
            .shortcut-link {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
