@use "@/assets/scss/abstract/_mixin.scss" as *;

.pc {
  .AL-MS-04-005 {
    .pop_wrap {
      .pop_content {
        padding: 0;

        .first-content-item {
          margin: 0;

          .content-item {
            border: none;
            margin: 0 auto;

            .cont-head {
              margin-bottom: 5.6rem;

              .cont-title-main {
                @include Hd_xLg_s32_lh38;
              }
            }
            .con_rounded {
              padding: 3.2rem 4.8rem;
              border-radius: 12px;
              border: 1px solid #dce0e5;

              .card-group {
                .name {
                  @include Lb_Sm_s14_lh20;
                  font-weight: 500;
                }
                .value {
                  display: flex;
                  align-items: center;
                  @include Lb_Sm_s14_lh20;

                  .description {
                    margin-left: 0.2rem;
                    font-size: var(--font-size-sm);
                  }
                }
              }
            }

            .form-box {
              &.mt_24 {
                margin-top: 2.4rem;
              }

              .text_info {
                padding-left: 2.2rem;
                color: #66707a;
                @include Pg_Sm_s14_lh20;

                &::before {
                  top: -0.1rem;
                  left: 0;
                  width: 2rem;
                  height: 2rem;
                  background: url("/images/v2/common/ico_text_info.svg") 0 0 / auto no-repeat;
                }
              }
            }
          }

          .bottom_float {
            .float_btn_wrap {
              margin-top: 0;
              padding: 1.6rem 2.4rem 2.4rem;
            }

            &.pd-0 {
              .float_btn_wrap {
                padding: 0;
              }
            }
          }
        }
      }
    }
    .alms0400502 {
      .pop_content {
        padding: 2.4rem 2rem 4rem;
      }
    }

    .card-group {
      .name {
        @include Lb_Sm_s14_lh20;
      }
      .value {
        @include Lb_Sm_s14_lh20;
        display: flex;
        align-items: center;

        .description {
          margin-left: 0.2rem;
          font-size: var(--font-size-sm);
        }
      }
    }

    .form-box {
      &.mt_24 {
        margin-top: 2.4rem;
      }
      .text_info {
        padding-left: 2.2rem;
        color: #66707a;

        &::before {
          top: -0.1rem;
          left: 0;
          width: 2rem;
          height: 2rem;
          background: url("/images/v2/common/ico_text_info.svg") 0 0 / auto no-repeat;
        }
      }

      .country-box {
        padding: 1.4rem 0;
        font-size: var(--font-size-ml);
        font-weight: var(--fontweight-normal);
      }
    }

    .cont-head .cont-sub-title {
      font-size: var(--font-size-sm);

      br {
        display: block;
      }
    }
  }
}

.mobile {
  .AL-MS-04-005 {
    .content-item {
      .cont-head {
        margin-bottom: 4rem;

        .cont-title-main {
          @include Hd_Sm_s22_lh28;
        }
      }

      .con_rounded {
        .card-group {
          .name {
            @include Lb_Sm_s14_lh20;
            font-weight: 500;
          }
          .value {
            display: flex;
            align-items: center;

            @include Lb_Sm_s14_lh20;
          }
        }
      }
      .form-box {
        .text_info {
          padding-left: 2.2rem;
          color: #66707a;

          &::before {
            top: -0.1rem;
            left: 0;
            width: 2rem;
            height: 2rem;
            background: url("/images/v2/common/ico_text_info.svg") 0 0 / auto no-repeat;
          }
        }
      }
    }
  }
}
