@charset "UTF-8";

/*
* main
*/
/* design 변경 적용 - bg full 100% 적용 */
.content.main {
  width: 100%;
  max-width: 100%;
  padding-top: 0;
}

.content.main>.section,
.content.main .section_f>a,
.content.main .section_f>div {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.content.main .section_f>a,
.content.main .section_f>div {
  max-width: 60.8rem;
}

.section_f {
  padding: 1.2rem 1.6rem 0;
}

.section_f.main_top {
  padding-top: 6.4rem;
  padding-bottom: 2rem;
}

.main .section_f~.section_f,
.main .section_f~.section {
  padding-top: 6rem;
}

.main .section.data-category {
  padding: 3.2rem 1.6rem;
}

.main .section.data-category .swiper {
  margin: 0 -1.6rem;
  padding: 0 1.6rem;
}

.section_f.bg01 {
  background-color: #f8f8f8;
}

.section_f.bg02 {
  background-color: #fffafa;
}

.section_f.main_top~.bg01,
.main .section_f.bg02 {
  padding-bottom: 3rem;
}

.main .section_f.section_f__recomm,
.main .section_f.section_f__recomm+.section {
  padding-top: 3rem;
}

.main .section_f.steamed_price+.section_f.bg01 {
  padding-top: 3rem;
}

.content.main .tit03 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 3rem;
}

.content.main .tit_wrap {
  margin-bottom: 2rem;
}

.content.main .tit_wrap .tit02,
.content.main .tit_wrap .tit03 {
  margin-bottom: 0;
}

.mobile .content.main .swiper.cardSwiper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}

.main_top {
  padding: 6.4rem 1.6rem 2.4rem;
  background-color: #f1f3f4;
}

.main_top.new-main_top {
  position: relative;
  padding-bottom: 0;
  background: none;
}

.main_top .link_plan {
  position: relative;
  display: block;
  padding: 4.2rem 3.2rem 11.4rem;
  border-radius: 1.6rem;
  background: #fff url(/images/content/bg_link_plan_m.png) no-repeat 100% 100%;
  overflow: hidden;
}

.main_top .link_plan strong {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  color: #000;
}

.main_top .link_plan strong span {
  position: relative;
  display: inline-block;
}

.main_top .link_plan strong span::after {
  content: '';
  position: absolute;
  top: -0.6rem;
  right: -0.8rem;
  display: block;
  width: 1.8rem;
  height: 1.2rem;
  background: url(/images/content/img_main_top_plan.png) no-repeat center/100% auto;
}

.main_top .link_plan em {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #000;
}

/* .main_top .link_plan em::after {content:''; position:absolute; top:50%; right:0; display:block; width:1.6rem; height:1.6rem; background:url(/images/common/ico_arrowR03.png) no-repeat center / 100% auto; transform:translateY(-50%);} */
.main_top .link_plan em::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(/images/common/ico_arrow_16.png) 0 0/20rem auto no-repeat;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main_top .link_plan i {
  position: absolute;
  bottom: -4.5rem;
  right: -4rem;
  display: block;
  width: 27.5rem;
  height: 17.7rem;
}

.main_top .link_plan i lottie-player {
  width: 100%;
  height: 100%;
}

.main_top .link_ranking {
  display: block;
  position: relative;
  margin-top: 1.2rem;
  border-radius: 1.6rem;
  overflow: hidden;
}

.main_top .link_ranking .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 8rem;
  padding: 2.7rem 4.4rem 2.7rem 3.2rem;
  background-color: #fff;
  color: #000;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2.6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_top .link_ranking .text::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  margin: auto;
  background: url(/images/common/ico_arrow_24.png) -5rem 0/20rem auto no-repeat;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main_top .link_ranking img {
  width: 100%;
  min-height: 10rem;
}

.main_bnr {
  margin-top: 1.2rem;
}

.main_bnr a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.6rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 61.115vw;
}

.main_bnr img {
  display: block;
  width: 100%;
}

.main_bnr .swiper-pagination .swiper-pagination-bullet {
  text-indent: -9999px;
  background: #ddd;
}

.main_bnr .swiper-pagination .swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 1.6rem));
  border-radius: 1.6rem;
}

/* .swiper.main_bnr .swiper-horizontal > .swiper-pagination-bullets,
.swiper.main_bnr .swiper-pagination-bullets.swiper-pagination-horizontal {bottom:0.4rem; font-size:0; line-height:0;}
.swiper.main_bnr .swiper-pagination-bullet {width:0.4rem; height:0.4rem; border-radius:0.2rem; background:#ddd; opacity:1;}
.swiper.main_bnr .swiper-pagination-bullet-active {width:0.8rem; background:#717171;}
.swiper.main_bnr .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper.main_bnr .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0.4rem;}
.swiper.swiper-initialized.main_bnr {padding-left:1.6rem; padding-right:1.6rem; margin-left:-1.6rem; margin-right:-1.6rem;} */
/* .swiper-container .play_box {position:absolute; bottom:2rem; right:1.6rem; z-index:1; height:2rem; background:rgba(0,0,0,0.6); line-height:0; border-radius:2rem; padding:0 2.5rem 0 1.2rem; margin-top:1rem;}
.swiper-container .play_box .btn {width:20px; height:20px;}
.swiper-container .play_box .swiper-pagination {position:relative; bottom:auto; width:auto; display:inline-block; line-height:1; color:#cccccc; font-size:0; line-height:0;}
.swiper-container .play_box .swiper-pagination:after {display:inline-block; content:'-'; font-size:1.2rem; color:inherit; position: absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.swiper-container .play_box .swiper-pagination > span {display:inline-block; line-height:2rem; font-size:1.2rem;}
.swiper-container .play_box .swiper-pagination > span:first-of-type {padding-right:0.6rem; color:#fff;}
.swiper-container .play_box .swiper-pagination > span:last-of-type {padding-left:0.6rem;}
.swiper-container .play_box .btn {position:absolute; right:0; top:0; width:2rem; height:2rem; background:rgba(0,0,0,0.4); border:none; font-size:0; line-height:0; padding:0;}
.swiper-container .play_box .btn:before {display:inline-block; content:''; width:1.6rem; height:1.6rem; background:url(/images/common/icon_play_set.png) no-repeat; background-size:100% auto;}
.swiper-container .play_box .btn.btn_play_stop:before  {background-position:0 0;}
.swiper-container .play_box .btn.btn_play_start:before  {background-position:0 -1.6rem;} */
/* .play_box {margin-top:2rem;}
.play_box .swiper-pagination-fraction{bottom:0; width:auto; font-size:1.2rem; line-height:1.8rem; color:#bbb; padding-left:calc(6% + 2.8rem);}
.play_box .play_start,
.play_box .play_stop{position:absolute; bottom:0%; left:6%; width:2rem; height:2rem; z-index:11; background:no-repeat center / 100% auto;} */
.play_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.8rem;
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.play_box .swiper-pagination-fraction {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: initial;
  right: initial;
  bottom: initial;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #bbb;
  padding-left: 0.8rem;
}

.play_box .swiper-pagination-current {
  color: #717171;
}

.play_box .play_start,
.play_box .play_stop {
  width: 2rem;
  height: 2rem;
  z-index: 11;
  background: no-repeat center / 100% auto;
  margin-right: 2rem;
}

.play_box .play_start {
  background-image: url(/images/common/ico_play.png);
}

.play_box .play_stop {
  background-image: url(/images/common/ico_stop.png);
}

.main_bnr .play_box .swiper-pagination {
  top: 0;
  bottom: 0;
}

.new-main_bnr {
  margin-top: 0;
}

.new-main_bnr .play_box {
  bottom: 1.5rem;
}

.new-main_bnr .play_box .play_start {
  background-image: url(/images/common/ico_play2.png);
}

.new-main_bnr .play_box .play_stop {
  background-image: url(/images/common/ico_stop2.png);
}

.main_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.main_service li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main_service.grid li {
  -ms-flex-preferred-size: calc(50% - 0.4rem);
  flex-basis: calc(50% - 0.4rem);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_service a:hover {
  border: 0.1rem solid #fc6969;
}

.main_service a {
  position: relative;
  display: block;
  height: 100%;
  padding: 8.55rem 1rem 1.75rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.8rem;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #000;
  text-align: center;
}

.main_service a::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  position: absolute;
  top: 1.9rem;
  left: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
  margin: auto;
  background: no-repeat center / 100% auto;
}

.main_service .svc01 a::before {
  background-image: url(/images/content/img_main_service01.png);
}

.main_service .svc02 a::before {
  background-image: url(/images/content/img_main_service02.png);
}

.main_service .svc03 a::before {
  background-image: url(/images/content/img_main_service04.png);
}

.main_service.grid .svc03 a::before {
  background-image: url(/images/content/img_main_service03.png);
}

.main_service .svc04 a::before {
  background-image: url(/images/content/img_main_service04.png);
}

.main_partner>ol {
  counter-reset: partner_rank;
  padding: 1.2rem 3.2rem;
  border-radius: 1.2rem;
  background-color: #f8f8f8;
  overflow: hidden;
}

.main_partner>ol li {
  counter-increment: partner_rank;
  position: relative;
}

.main_partner>ol li::before {
  content: counter(partner_rank, decimal-leading-zero);
  position: absolute;
  top: 2rem;
  left: 0;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: #bbb;
}

.main_partner>ol li:not(:last-child) {
  border-bottom: 0.1rem solid #eee;
}

.main_partner>ol a {
  display: block;
  padding: 2rem 0 2rem 3rem;
}

.main_partner>ol .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
}

.main_partner>ol .partner strong {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.3rem;
  color: #909090;
}

.main_partner>ol .partner .star:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 0.8rem;
  border-left: 1px solid #ddd;
  padding-left: 0.9rem;
}

.main_partner>ol .partner .score {
  position: relative;
  display: inline-block;
  padding-left: 1.4rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #909090;
}

/* .main_partner > ol .partner .score::before {content:''; position:absolute; top:0.2rem; left:0; display:inline-block; width:1.2rem; height:1.2rem; background:url(/images/common/img_star_active.png) space left / 100% auto;} */
.main_partner>ol .partner .score::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(/images/common/ico_12.png) -10rem 0/20rem auto no-repeat;
}

.main_partner>ol .partner img {
  height: 2.4rem;
  margin-left: auto;
}

.main_partner>ol p {
  display: none;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
}

.main_partner>ol li.on::before {
  color: #fc6969;
}

.main_partner>ol .on .partner strong {
  font-weight: 700;
  color: #000;
}

.main_partner>ol .on p {
  display: block;
}

.main_partner .flowSwiper {
  margin-top: 2rem;
}

.main_bnr_wrap .bnr_area+.bnr_area,
.main_bnr_wrap+.btn_group {
  margin-top: 1.2rem;
}

.recommendation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendation-card .swiper-slide {
  background-color: #FFECF0;
  padding: 2rem 2.2rem 3.2rem 2.2rem;
  border-radius: 1.6rem;
  text-align: center;
}

.recommendation-card .swiper-slide .icon {
  max-width: 10rem;
  margin: 0 auto;
}

.recommendation-card .swiper-slide .icon image {
  -o-object-fit: contain;
  object-fit: contain;
  width: 50rem;
  height: 50rem;
  margin: 0 auto;
}

.recommendation-card .swiper-slide .size {
  color: #000;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  margin-top: 0.4rem;
}

.recommendation-card .swiper-slide .size .number {
  color: #E34140;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: inherit;
}

.recommendation-card .swiper-slide .description {
  color: #66707A;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.4rem;
}

.recommendation-card .swiper-slide .description .point {
  color: #E34140;
}

.recommendation-card .swiper-slide .btn-group {
  margin-top: 2rem;
}

.recommendation-card .swiper-slide .btn-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-top: 0.8rem;
  padding: 1.2rem 2rem 1.2rem 0;
  border-radius: 0.8rem;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 5.83342L11.6667 10.0001L7.5 14.1667' stroke='%2366707A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: calc(100% - 1.2rem) 50%;
}

.recommendation-card .swiper-slide .btn-group a .unit {
  font-weight: 500;
}

.recommendation-card .swiper-slide .btn-group a .badge {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-right: 0.4rem;
  border-radius: 6rem;
  background: linear-gradient(108deg, #E34140 11%, #FE00ED 114.72%), #FFEAEA;
}

.recommendation-card .swiper-slide .btn-group a.best .badge {
  background: linear-gradient(108deg, #8470F3 11%, #FE00ED 114.72%), #ECF3FF;
}

/* ***** 요금제 랭킹 ***** */
.ranking_top {
  border-radius: 1.2rem;
  overflow: hidden;
}

.ranking_top .txt_area {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.ranking_top img {
  display: block;
  width: 100%;
}

.ranking_top>img {
  border-radius: 1.2rem;
  overflow: hidden;
}

/* ***** 파트너사 소개 ***** */
.partner_title {
  margin-bottom: 3.2rem;
  text-align: center;
}

.partner_title .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 0 1rem;
  margin: 0 auto 2.5rem;
  border-radius: 50%;
  background-color: #f8f8f8;
  overflow: hidden;
}

.partner_title .img img {
  display: block;
  width: 100%;
}

.partner_title .tit {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #000;
}

.partner_title .tex {
  display: block;
  margin-top: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #717171;
}

.partner_title .btn_text {
  padding-left: 1.4rem;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
}

/* .partner_title .btn_text::before {content:''; position:absolute; top:50%; left:0; display:block; width:1.2rem; height:1.2rem; background:url(/images/common/img_star_active.png) no-repeat center / 100% auto; transform:translateY(-50%);} */
.partner_title .btn_text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(/images/common/ico_12.png) -10rem 0/20rem auto no-repeat;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.partner_title .btn_text span {
  color: #909090;
}

.partner_info dl~dl {
  margin-top: 2rem;
}

.partner_info dt {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: #717171;
}

.partner_info dd {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #000;
}

/* 데이터별 추천 */
.main .section.data-category .countSwiperTop {
  padding: 0;
  border-radius: 0.8rem;
  background: #F8F8F8;
}

.countSwiperTop .swiper-slide {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0.4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
}

.countSwiperTop .lavalamp {
  position: absolute;
  left: 4px;
  top: 4px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  height: calc(100% - 8px);
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.main .section.data-category .countSwiperBottom {
  margin: 0.4rem -3.2rem 0 -3.2rem;
  padding: 0 1.6rem;
}

.data-category-wrap {
  position: relative;
  display: block;
  padding: 2rem;
}

.data-category-wrap::after {
  content: '';
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2L11 8L5 14' stroke='%2366707A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.data-category-wrap .data__size {
  font-size: 2.2rem;
}

.data-category-wrap .data__size>strong {
  color: #E34140;
  font-size: 3rem;
  font-weight: 800;
}

.data-category-wrap .data__description {
  color: #66707A;
  letter-spacing: -0.56px;
  margin-top: 0.2rem;
}

.data-category-wrap .data__description>strong {
  color: #E34140;
}

.data-category-wrap .price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 0.8rem;
}

.data-category-wrap .price-info .price {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.78px;
}

.data-category-wrap .price-info .sale {
  margin-top: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.data-category-wrap .price-info .sale .badge>span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.36px;
  padding: 0.3rem 0.8rem;
  border-radius: 6rem;
  background: linear-gradient(108deg, #8470F3 11%, #FE00ED 114.72%);
}

.data-category-wrap .price-info .sale__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.4rem;
  margin: 0 0 0 0.8rem;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.data-category-wrap .price .number-counting .unit {
  font-size: 1.8rem;
  margin-left: 0.2rem;
  font-weight: 600;
}

.data-category-wrap .price-info .sale__price .v-tooltip>.v-overlay__content {
  width: 64%;
  padding: 1.2rem;
}

.data-category-wrap .price-info .sale__price .number-counting {
  color: #E34140;
}

.data-category-wrap .price-info .sale__price .number-counting .unit {
  color: #000;
}

.countSwiperBottom .data-category__list li {
  margin-top: 1.6rem;
  border-radius: 1.6rem;
  border: 1px solid #DDD;
}

.countSwiperBottom .swiper-pagination {
  position: static;
  margin-top: 1rem;
}

.countSwiperBottom .swiper-pagination-bullet {
  opacity: 1;
  text-indent: -9999px;
  width: 0.8rem;
  height: 0.8rem;
  background: #ddd;
}

.countSwiperBottom .swiper-pagination-bullet-active {
  border-radius: 0.5rem;
  width: 1.6rem;
  height: 0.8rem;
  background: #E34140;
}

.countSwiperBottom .btn_tooltip.v-btn {
  position: relative;
  z-index: 1;
}

.tooltip-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tooltip-sale>div {
  width: 50%;
}

.tooltip-sale>div:nth-child(even) {
  border-left: 1px solid #717171;
}

.tooltip-sale>div dt {
  color: #ddd;
  font-size: 1.2rem;
  line-height: 16px;
  letter-spacing: -0.24px;
}

.tooltip-sale>div dd {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 0.2rem;
}