@charset "utf-8";
/*
* main
*/
/* design 변경 적용 - bg full 100% 적용 */
.content {
  &.main {
    width: 100%;
    max-width: 100%;
    padding-top: 0;

    .tit03 {
      margin-bottom: 2rem;
      font-size: 2.2rem;
      line-height: 3rem;
    }

    .tit_wrap {
      margin-bottom: 2rem;

      .tit02,
      .tit03 {
        margin-bottom: 0;
      }
    }

    &> .section,
    .section_f {
      &> a,
      &> div {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .section_f {
      &> a,
      &> div {
        max-width: 60.8rem;
      }
    }

    &> .section {
      max-width: 64rem;
    }

    .section_f {
      &> a,
      &> div {
        &:first-of-type {
          max-width: 64rem;
        }
      }
    }
  }
}

.main {
  .section_f {
    // 추천 영역
    &.section_f__recomm {
      padding-top: 3rem;

      + .section {
        padding-top: 3rem;
      }
    }

    &.steamed_price {
      + .section_f.bg01 {
        padding-top: 3rem;
      }
    }

    // 일반 형제 관계
    ~ .section_f,
    ~ .section {
      padding-top: 6rem;
    }

    &.bg02 {
      padding-bottom: 3rem;
    }
  }

  .section {
    &.data-category {
      padding: 3.2rem 1.6rem;

      .swiper {
        margin: 0 -1.6rem;
        padding: 0 1.6rem;
      }
    }
  }
}

.section_f {
  padding: 1.2rem 1.6rem 0;

  &.main_top {
    padding-top: 6.4rem;
    padding-bottom: 2rem;

    ~ .bg01 {
      padding-bottom: 3rem;
    }
  }

  &.bg01 {
    background-color: #f8f8f8;
  }

  &.bg02 {
    background-color: #fffafa;
  }
}

.mobile .content.main .swiper.cardSwiper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}

.main_top {
  padding: 6.4rem 1.6rem 2.4rem;
  background-color: #f1f3f4;

  /*나에게 꼭 맞는 저렴한 요금제 찾기*/
  .link_plan {
    position: relative;
    display: block;
    padding: 4.2rem 3.2rem 11.4rem;
    border-radius: 1.6rem;
    background: #fff url(/images/content/bg_link_plan_m.png) no-repeat 100% 100%;
    overflow: hidden;

    strong {
      display: block;
      font-size: 3rem;
      font-weight: bold;
      line-height: 4rem;
      color: #000;
    }

    span {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        top: -0.6rem;
        right: -0.8rem;
        display: block;
        width: 1.8rem;
        height: 1.2rem;
        background: url(/images/content/img_main_top_plan.png) no-repeat center / 100% auto;
        ;
      }
    }

    em {
      position: relative;
      display: inline-block;
      padding-right: 2rem;
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: #000;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        background: url(/images/common/ico_arrow_16.png) 0 0 / 20rem auto no-repeat;
        transform: translateY(-50%);
      }

      /* &.::after {content:''; position:absolute; top:50%; right:0; display:block; width:1.6rem; height:1.6rem; background:url(/images/common/ico_arrowR03.png) no-repeat center / 100% auto; transform:translateY(-50%);} */
    }

    i {
      position: absolute;
      bottom: -4.5rem;
      right: -4rem;
      display: block;
      width: 27.5rem;
      height: 17.7rem;

      lottie-player {
        width: 100%;
        height: 100%;
      }

    }
  }

  /*랭킹*/
  .link_ranking {
    display: block;
    position: relative;
    margin-top: 1.2rem;
    border-radius: 1.6rem;
    overflow: hidden;

    .text {
      display: flex;
      position: relative;
      height: 8rem;
      padding: 2.7rem 4.4rem 2.7rem 3.2rem;
      background-color: #fff;
      color: #000;
      font-size: 1.9rem;
      font-weight: bold;
      line-height: 2.6rem;
      align-items: center;

      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2rem;
        width: 2.4rem;
        height: 2.4rem;
        margin: auto;
        background: url(/images/common/ico_arrow_24.png) -5rem 0/20rem auto no-repeat;
        transform: rotate(-90deg);
      }
    }

    img {
      width: 100%;
      min-height: 10rem;
    }

  }

  &.new-main_top {
    position: relative;
    padding-bottom: 0;
    background: none;
  }
}

.main_bnr {
  margin-top: 1.2rem;
  a {
    display: flex;
    border-radius: 1.6rem;
    justify-content: center;
    overflow: hidden;
    height: 61.115vw;
  }
  img {
    display: block;
    width: 100%;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      text-indent: -9999px;
      background: #ddd;
    }

    .swiper-pagination-bullet-active {
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 1.6rem));
      border-radius: 1.6rem;
    }

  }

  .play_box .swiper-pagination {
    top: 0;
    bottom: 0;
  }
}

/* .swiper.main_bnr .swiper-horizontal > .swiper-pagination-bullets,
.swiper.main_bnr .swiper-pagination-bullets.swiper-pagination-horizontal {bottom:0.4rem; font-size:0; line-height:0;}
.swiper.main_bnr .swiper-pagination-bullet {width:0.4rem; height:0.4rem; border-radius:0.2rem; background:#ddd; opacity:1;}
.swiper.main_bnr .swiper-pagination-bullet-active {width:0.8rem; background:#717171;}
.swiper.main_bnr .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper.main_bnr .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0.4rem;}
.swiper.swiper-initialized.main_bnr {padding-left:1.6rem; padding-right:1.6rem; margin-left:-1.6rem; margin-right:-1.6rem;} */

/* .swiper-container .play_box {position:absolute; bottom:2rem; right:1.6rem; z-index:1; height:2rem; background:rgba(0,0,0,0.6); line-height:0; border-radius:2rem; padding:0 2.5rem 0 1.2rem; margin-top:1rem;}
.swiper-container .play_box .btn {width:20px; height:20px;}
.swiper-container .play_box .swiper-pagination {position:relative; bottom:auto; width:auto; display:inline-block; line-height:1; color:#cccccc; font-size:0; line-height:0;}
.swiper-container .play_box .swiper-pagination:after {display:inline-block; content:'-'; font-size:1.2rem; color:inherit; position: absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.swiper-container .play_box .swiper-pagination > span {display:inline-block; line-height:2rem; font-size:1.2rem;}
.swiper-container .play_box .swiper-pagination > span:first-of-type {padding-right:0.6rem; color:#fff;}
.swiper-container .play_box .swiper-pagination > span:last-of-type {padding-left:0.6rem;}
.swiper-container .play_box .btn {position:absolute; right:0; top:0; width:2rem; height:2rem; background:rgba(0,0,0,0.4); border:none; font-size:0; line-height:0; padding:0;}
.swiper-container .play_box .btn:before {display:inline-block; content:''; width:1.6rem; height:1.6rem; background:url(/images/common/icon_play_set.png) no-repeat; background-size:100% auto;}
.swiper-container .play_box .btn.btn_play_stop:before  {background-position:0 0;}
.swiper-container .play_box .btn.btn_play_start:before  {background-position:0 -1.6rem;} */

/* .play_box {margin-top:2rem;}
.play_box .swiper-pagination-fraction{bottom:0; width:auto; font-size:1.2rem; line-height:1.8rem; color:#bbb; padding-left:calc(6% + 2.8rem);}
.play_box .play_start,
.play_box .play_stop{position:absolute; bottom:0%; left:6%; width:2rem; height:2rem; z-index:11; background:no-repeat center / 100% auto;} */
.play_box {
  display: flex;
  position: absolute;
  bottom: 0.8rem;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .swiper-pagination-fraction {
    position: relative;
    width: fit-content;
    left: initial;
    right: initial;
    bottom: initial;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #bbb;
    padding-left: 0.8rem;
  }

  .swiper-pagination-current {
    color: #717171;
  }

  .play_start,
  .play_stop {
    width: 2rem;
    height: 2rem;
    z-index: 11;
    background: no-repeat center / 100% auto;
    margin-right: 2rem;
  }
  .play_start {background-image: url(/images/common/ico_play.png);}
  .play_stop {background-image: url(/images/common/ico_stop.png);}
}

.new-main_bnr {
  margin-top: 0;
  .play_box {
    bottom: 1.5rem;

    .play_start {background-image: url(/images/common/ico_play2.png);}
    .play_stop {background-image: url(/images/common/ico_stop2.png);}
  }
}

.main_service {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  li {
    flex: 1;
  }
  
  a {
    position: relative;
    display: block;
    height: 100%;
    padding: 8.55rem 1rem 1.75rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.8rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #000;
    text-align: center;
  
    &::before {
      display: flex;
      content: '';
      position: absolute;
      top: 1.9rem;
      left: 0;
      right: 0;
      width: 6rem;
      height: 6rem;
      margin: auto;
      background: no-repeat center / 100% auto;
    }

    &:hover {
      border: 0.1rem solid #fc6969;
    }
  }
  
  .svc01 a::before {
    background-image: url(/images/content/img_main_service01.png);
  }

  .svc02 a::before {
    background-image: url(/images/content/img_main_service02.png);
  }

  .svc03 a::before {
    background-image: url(/images/content/img_main_service04.png);
  }
  .svc04 a::before {
    background-image: url(/images/content/img_main_service04.png);
  }

  &.grid {
    li {
      flex-basis: calc(50% - 0.4rem);
      justify-content: space-between;
    }
    .svc03 a::before {
      background-image: url(/images/content/img_main_service03.png);
    }
  }
}

.main_partner {
  &>ol {
    counter-reset: partner_rank;
    padding: 1.2rem 3.2rem;
    border-radius: 1.2rem;
    background-color: #f8f8f8;
    overflow: hidden;

    li {
      counter-increment: partner_rank;
      position: relative;

      &::before {
        content: counter(partner_rank, decimal-leading-zero);
        position: absolute;
        top: 2rem;
        left: 0;
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.3rem;
        color: #bbb;
      }

      &:not(:last-child) {
        border-bottom: 0.1rem solid #eee;
      }
      
      &.on::before {
        color: #fc6969;
      }
    }

    a {
      display: block;
      padding: 2rem 0 2rem 3rem;
    }

    .partner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.8rem;

      strong {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.3rem;
        color: #909090;
      }

      .star:before {
        content: "";
        display: inline-block;
        width: 0.1rem;
        height: 0.8rem;
        border-left: 1px solid #ddd;
        padding-left: 0.9rem;
      }

      .score {
        position: relative;
        display: inline-block;
        padding-left: 1.4rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #909090;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          transform: translateY(-50%);
          background: url(/images/common/ico_12.png) -10rem 0 / 20rem auto no-repeat;
        }
      }
      /* .score::before {content:''; position:absolute; top:0.2rem; left:0; display:inline-block; width:1.2rem; height:1.2rem; background:url(/images/common/img_star_active.png) space left / 100% auto;} */

      img {
        height: 2.4rem;
        margin-left: auto;
      }
    }

    p {
      display: none;
      margin-top: 0.8rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #000;
    }

    .on {
      p {
        display: block;
      }
      .partner strong {
        font-weight: 700;
        color: #000;
      }
    }
  }
  
  .flowSwiper {
    margin-top: 2rem;
  }
}

.main_bnr_wrap {
  .bnr_area+.bnr_area,
  &+.btn_group { margin-top: 1.2rem; }
}

.recommendation-card {
  display: flex;

  .swiper-slide {
    background-color: #FFECF0;
    padding: 2rem 2.2rem 3.2rem 2.2rem;
    border-radius: 1.6rem;
    text-align: center;

    .icon {
      max-width: 10rem;
      margin: 0 auto;

      image {
        object-fit: contain;
        width: 50rem;
        height: 50rem;
        margin: 0 auto;
      }
    }

    .size {
      color: #000;
      font-size: 3rem;
      font-weight: 500;
      line-height: 4rem;
      margin-top: 0.4rem;
      .number {
        color: #E34140;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: inherit;
      }

    }

    .description {
      color: #66707A;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 0.4rem;

      .point {
        color: #E34140;
      }
    }

    .btn-group {
      margin-top: 2rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        margin-top: 0.8rem;
        padding: 1.2rem 2rem 1.2rem 0;
        border-radius: 0.8rem;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 5.83342L11.6667 10.0001L7.5 14.1667' stroke='%2366707A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: calc(100% - 1.2rem) 50%;

        .unit {
          font-weight: 500;
        }
        .badge {
          display: inline-block;
          padding: 0.2rem 0.6rem;
          color: #FFF;
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 1.6rem;
          margin-right: 0.4rem;
          border-radius: 6rem;
          background: linear-gradient(108deg, #E34140 11%, #FE00ED 114.72%), #FFEAEA;
        }

        &.best .badge {
          background: linear-gradient(108deg, #8470F3 11%, #FE00ED 114.72%), #ECF3FF;
        }
      }
    }
  }
}

/* ***** 요금제 랭킹 ***** */
.ranking_top {
  border-radius: 1.2rem;
  overflow: hidden;

  .txt_area {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.6rem;
  }

  img {
    display: block;
    width: 100%;
  }

  &>img {
    border-radius: 1.2rem;
    overflow: hidden;
  }
}

/* ***** 파트너사 소개 ***** */
.partner_title {
  margin-bottom: 3.2rem;
  text-align: center;

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    padding: 0 1rem;
    margin: 0 auto 2.5rem;
    border-radius: 50%;
    background-color: #f8f8f8;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  .tit {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    color: #000;
  }
  .tex {
    display: block;
    margin-top: 0.8rem;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #717171;
  }

  .btn_text {
    padding-left: 1.4rem;
    margin-top: 1.6rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #000;

    span {
      color: #909090;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      background: url(/images/common/ico_12.png) -10rem 0 / 20rem auto no-repeat;
      transform: translateY(-50%);
    }
  }
  /* .partner_title .btn_text::before {content:''; position:absolute; top:50%; left:0; display:block; width:1.2rem; height:1.2rem; background:url(/images/common/img_star_active.png) no-repeat center / 100% auto; transform:translateY(-50%);} */
}

.partner_info {
  dl~dl {
    margin-top: 2rem;
  }

  dt {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: #717171;
  }

  dd {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #000;
  }

}

/* 데이터별 추천 */
.main .section.data-category .countSwiperTop {
  padding: 0;
  border-radius: 0.8rem;
  background: #F8F8F8;
}

.countSwiperTop {
  .swiper-slide {
    flex: 1;
    margin: 0.4rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.28px;
  }

  .lavalamp {
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    height: calc(100% - 8px);
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    background: #fff;
  }
}

.main .section.data-category .countSwiperBottom {
  margin: 0.4rem -3.2rem 0 -3.2rem;
  padding: 0 1.6rem;
}

.data-category-wrap {
  position: relative;
  display: block;
  padding: 2rem;

  .data__size {
    font-size: 2.2rem;

    > strong {
      color: #E34140;
      font-size: 3rem;
      font-weight: 800;
    }
  }

  .data__description {
    color: #66707A;
    letter-spacing: -0.56px;
    margin-top: 0.2rem;

    > strong {
      color: #E34140;
    }
  }

  .price {
    .number-counting .unit {
      font-size: 1.8rem;
      margin-left: 0.2rem;
      font-weight: 600;
    }
  }

  .price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.8rem;

    .sale__price {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin: 0 0 0 0.8rem;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: -0.28px;

      .v-tooltip>.v-overlay__content {
        width: 64%;
        padding: 1.2rem;
      }

      .number-counting {
        color: #E34140;
        .unit {
          color: #000;
        }
      }
    }

    .price {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: -0.78px;
    }

    .sale {
      margin-top: 0.6rem;
      display: flex;
      align-items: center;
      
      .badge>span {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: -0.36px;
        padding: 0.3rem 0.8rem;
        border-radius: 6rem;
        background: linear-gradient(108deg, #8470F3 11%, #FE00ED 114.72%);
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 2.2rem;
    right: 2rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2L11 8L5 14' stroke='%2366707A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
}

.countSwiperBottom {
  .data-category__list {
    li {
      margin-top: 1.6rem;
      border-radius: 1.6rem;
      border: 1px solid #DDD;
    }
  }

  .swiper-pagination {
    position: static;
    margin-top: 1rem;

    &-bullet {
      opacity: 1;
      text-indent: -9999px;
      width: 0.8rem;
      height: 0.8rem;
      background: #ddd;

      &-active {
        border-radius: 0.5rem;
        width: 1.6rem;
        height: 0.8rem;
        background: #E34140;
      }
    }
  }

  .btn_tooltip.v-btn {
    position: relative;
    z-index: 1;
  }
}


.tooltip-sale {
  display: flex;
  gap: 1rem 0;
  flex-wrap: wrap;

  > div {
    width: 50%;

    &:nth-child(even) {
      border-left: 1px solid #717171;
    }

    dt {
      color: #ddd;
      font-size: 1.2rem;
      line-height: 16px;
      letter-spacing: -0.24px;
    }

    dd {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.28px;
      margin-top: 0.2rem;
    }
  }
}
